ul.menu {
    list-style-type: none;
    padding-left: 0;
}

.menu li {
    display: inline-block; 
}

.menu a {
    background-color: lightskyblue;
    margin: 5px 10px 5px 0;
    padding: 5px 10px;
    text-decoration: none;
}

.menu a:hover {
    background-color: aquamarine;
}

.hero-image {
    height: 200px;
    background-position: 50% 60%;
    background-size: cover;
    padding: 0;
}

.img-metro {
    background-image: url('./metro.jpg');
}
.img-tramvaj {
    background-image: url('./tramvaj.jpg');
}

h1 {
    color: rgb(250, 250, 250);
    /* font-size: 60px; */
    padding-top: 60px;
}

.overcast {
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.8);
}

.skrtnuty {
    text-decoration:line-through;
}

/* 
th, td {
    border: 1px solid black;
} */

.debug {
    border: 1px solid red;
}
/* 
nav.navbar {
    background-color: red !important;
} */