.menu {
    padding-left: 0;
}
.menu li {
   display: inline; 
}

.menu a {
    color: black;
    background-color: lightblue;
    padding: 5px 10px;
    margin: 5px 10px 5px 0;
    text-decoration: none;
}

.menu a.active {
    background-color: cyan;
}
.menu a:hover {
    background-color: lightcyan;
}

.hero {
    padding: 0;
    height: 200px;
    background-image: url('./jezevec.jpg');
    background-size: cover;
    background-position: 50% 60%;
}

.overcast {
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.7);
}   

h1 {
    padding-top: 60px;
    color: rgb(200, 200, 200)
}

.debug {
    border: 1px solid red;
}

.card h2 {
   text-align: center; 
}

h2 {
    font-size: calc(1.0rem + .9vw)
}